body {}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}


.App::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.App {
  height: fit-content;
  text-align: center;
  display: flex;
  /* background-color: rgb(12, 18, 19); */
}

.App_top {
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(13, 25, 28); */
  /* background-color: #282c34; */
  /* background-color: rgb(12, 18, 19); */
  /* background-color: rgb(11, 16, 16); */
}

.content {
  /* height: 100%; */
  min-height: 105vh;
  width: 90vw;
  display: flex;
  justify-content: space-between;
}


.left_c {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #61dafb; */
  /* color: rgb(0, 255, 247); */
  /* color: aquamarine; */
}

.right_c {
  /* width: 30%; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid red; */
}

.App-logo {
  max-width: 100%;
}

.typed {
  overflow: hidden;
  font-size: 38px;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0;
  animation: typing 1.5s steps(30, end) forwards, blinking 1s 2s;
}

/* --------------------------------------content -CSSTRANSITIONS -start*/

.content-enter {
  transform: translateY(-5vh);
}

.content-enter-active {
  /* opacity: 1; */
  transform: translateY(0);
  /* transition: opacity 300ms, transform 300ms; */
  transition: transform 300ms;
}

.content-exit {
  transform: translateY(0%);
}

.content-exit-active {
  transform: translateY(-5vh);
  transition: transform 300ms;
}

/* --------------------------------------content-CSSTRANSITIONS -ends*/

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 45%
  }
}

@keyframes blinking {
  0% {
    border-right-color: transparent
  }

  50% {
    border-right-color: #61dafb
  }

  100% {
    border-right-color: transparent
  }
}