/* Have STYLES OF Landpage.js */

.App {
  text-align: center;
  display: flex;
  /* background-color: rgb(0, 0, 0); */
  background-color: #282c34;
  /* background-color: #fff; */
}

.App_top {
  background-color: #282c34;
}

.content {
  height: 100vh;
  width: 85vw;
  display: flex;
  justify-content: space-between;
}

.left_c {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #61dafb;
}

.right_c {
  width: 35%;
  display: flex;
  align-items: center;
}

.App-logo {
  max-width: 100%;
}

.typed {
  overflow: hidden;
  font-size: 38px;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0;
  animation: typing 1.5s steps(30, end) forwards, blinking 1s 2s;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 45%
  }
}

@keyframes blinking {
  0% {
    border-right-color: transparent
  }

  50% {
    border-right-color: #61dafb
  }

  100% {
    border-right-color: transparent
  }
}


/* --------------------------------------------TOP-----------NAV-----------TRANSITION */
.App-enter {
  opacity: 0;
  /* transform: scale(1); */
}

.App-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1000ms, transform 1000ms;
}

.App-exit {
  opacity: 1;
}

.App-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 1000ms, transform 1000ms;
}



/* --------------------------------------------TOP-----------NAV-----------TRANSITION */
.App_top-enter {
  opacity: 0;
  /* transform: scale(1); */
}

.App_top-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1000ms, transform 1000ms;
}

.App_top-exit {
  opacity: 1;
}

.App_top-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 1000ms, transform 1000ms;
}