.nav_top {
  display: flex;
  height: fit-content;
  background-color: #fff;
  height: 5vh;
}

.nav_menus_left {
  width: 15vw;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav_menus_top {
  display: flex;
  max-height: 5vh;
}

.left_menus {
  display: flex;
}

.nav_img_cont {
  position: fixed;
  display: flex;
  width: 15vw;
  justify-content: space-between;
  height: fit-content;
}

.hide {
  position: fixed;
  top: 0;
  right: 0;
}

.sign {
  height: 30vh;
}

.sign_top {
  padding-left: 50px;
}