.nav {
  /* height: max-content; */
}

.sidebar {
  display: flex;
  height: 100vh;
  height: max-content;
  /* position: fixed; */
}


.sidebar_closed {
  display: flex;
  height: 100vh;
  position: fixed;
  display: none;
}

.sidebar_body {
  display: flex;
  max-width: 15vw;
}

.bar_upper_portion {
  padding-top: 10px;
  height: 25vh;
}

.side_settings {
  height: 5vh;
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
  justify-content: space-between;
}

.side_cv {
  text-decoration: none;
  color: inherit;
  border: 2px solid;
  padding: 5px 12px 5px 12px;
  border-radius: 5px;
}

.bar_logo_cont {

  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar_logo {
  height: 15vh;
  object-fit: cover
}

.bar_middle_portion {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cv_a {
  text-decoration: none;
  color: inherit;
}

.bar_bottom_protion {
  height: 25vh;
}

.arrow_up {}

.nav_btn {
  position: fixed;
}

.nav_img_contn {
  position: absolute;
  left: 1vh;
  top: 1vh;
}

.nav_top {
  width: calc(100vw-40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vh;
  height: 5vh;
  padding: 0 20px 0 20px;
}

.top_nav_right {
  min-width: 40%;
  display: flex;
  width: fit-content;
  /* font-family: 'Redressed', cursive; */
}

.nav_top_menus {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.cv {
  text-decoration: none;
  color: inherit;
  border: 2px solid;
  padding: 5px 12px 5px 12px;
  border-radius: 5px;
}

.hide {}

.sign_top {
  display: flex;
  align-items: center;
}

.nav_logo {
  height: 10vw;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}

/* --------------------------------------TOP-NAV-CSSTRANSITIONS -start*/
.nav_top-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.nav_top-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1000ms, transform 1000ms;
}

.nav_top-exit {
  opacity: 1;
  transform: translateX(0);
}

.nav_top-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1000ms, transform 1000ms;
}


/* --------------------------------------TOP-NAV-CSSTRANSITIONS -ends*/